In [3]:
import pandas as pd
import numpy as np

In [4]:
df1=pd.read_csv("Symptom-severity.csv")
df2=pd.read_csv("symptom_Description.csv")
df3=pd.read_csv("symptom_precaution.csv")

In [5]:
df1.head()

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

In [6]:
df2.head()

          Disease                                        Description
0   Drug Reaction  An adverse drug reaction (ADR) is an injury ca...
1         Malaria  An infectious disease caused by protozoan para...
2         Allergy  An allergy is an immune system response to a f...
3  Hypothyroidism  Hypothyroidism, also called underactive thyroi...
4       Psoriasis  Psoriasis is a common skin disorder that forms...

In [7]:
df3.head()

,Disease,Precaution_1,Precaution_2,Precaution_3,Precaution_4
0,Drug Reaction,stop irritation,consult nearest hospital,stop taking drug,follow up
1,Malaria,Consult nearest hospital,avoid oily food,avoid non veg food,keep mosquitos out
2,Allergy,apply calamine,cover area with bandage,NaN,use ice to compress itching
3,Hypothyroidism,reduce stress,exercise,eat healthy,get proper sleep
4,Psoriasis,wash hands with warm soapy water,stop bleeding using pressure,consult doctor,salt baths

In [8]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(133, 2)
(41, 2)
(41, 5)

In [9]:
df2 = df2.merge(df3, on='Disease')

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 0 to 37
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Disease       38 non-null     object
 1   Description   38 non-null     object
 2   Precaution_1  38 non-null     object
 3   Precaution_2  38 non-null     object
 4   Precaution_3  37 non-null     object
 5   Precaution_4  37 non-null     object
dtypes: object(6)
memory usage: 2.1+ KB

In [11]:
df2.isnull().sum()

Disease         0
Description     0
Precaution_1    0
Precaution_2    0
Precaution_3    1
Precaution_4    1
dtype: int64

In [12]:
df2['Precaution_3'][2] = 'apply peppermint oil'
df2['Precaution_4'][33] = 'CPR'

In [13]:
df2['Precaution'] = df2['Precaution_1']+","+df2['Precaution_2']+","+df2['Precaution_3']+","+df2['Precaution_4']

In [14]:
df2.head(2)

,Disease,Description,Precaution_1,Precaution_2,Precaution_3,Precaution_4,Precaution
0,Drug Reaction,An adverse drug reaction (ADR) is an injury ca...,stop irritation,consult nearest hospital,stop taking drug,follow up,"stop irritation,consult nearest hospital,stop ..."
1,Malaria,An infectious disease caused by protozoan para...,Consult nearest hospital,avoid oily food,avoid non veg food,keep mosquitos out,"Consult nearest hospital,avoid oily food,avoid..."

In [15]:
new_df2 = df2[['Disease', 'Description', 'Precaution']]

In [16]:
new_df2.head(2)

,Disease,Description,Precaution
0,Drug Reaction,An adverse drug reaction (ADR) is an injury ca...,"stop irritation,consult nearest hospital,stop ..."
1,Malaria,An infectious disease caused by protozoan para...,"Consult nearest hospital,avoid oily food,avoid..."

In [18]:
new_df2.to_csv('symptom_description_precaution.csv', index=False)